<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loan Easy {% block title %}{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    </head>
    <body>
        <div class="flex justify-center items-center bg-green-400 w-screen min-h-screen">    
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>